<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Wemeet－多人雲端會議系統</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/ai.css" />
  	<link rel="stylesheet" type="text/css" href="/css/hoshi.css" />
</head>
<body>
<div id="app">{{ html|safe }}</div>
  <div id="box-a">
  </div>

  	<script src="/js/classie.js"></script>
		<script>
			// (function() {
			// 	if (!String.prototype.trim) {
			// 		(function() {
			// 			// Make sure we trim BOM and NBSP
			// 			var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
			// 			String.prototype.trim = function() {
			// 				return this.replace(rtrim, '');
			// 			};
			// 		})();
			// 	}

			// 	[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
			// 		// in case the input is already filled..
			// 		if( inputEl.value.trim() !== '' ) {
			// 			classie.add( inputEl.parentNode, 'input--filled' );
			// 		}

			// 		// events:
			// 		inputEl.addEventListener( 'focus', onInputFocus );
			// 		inputEl.addEventListener( 'blur', onInputBlur );
			// 	} );

			// 	function onInputFocus( ev ) {
			// 		classie.add( ev.target.parentNode, 'input--filled' );
			// 	}

			// 	function onInputBlur( ev ) {
			// 		if( ev.target.value.trim() === '' ) {
			// 			classie.remove( ev.target.parentNode, 'input--filled' );
			// 		}
			// 	}
			// })();
		</script>
<script src="/js/vendor.js"></script>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>