#feature{
    width: 80%;
    height: 55px;
    background-color: #535353;
    letter-spacing: 1px;
}

#meet_chat{
  width: 20%;
  height: 540px; 
  background-color: #6e3667;
  float: right;

}


.left{
  font-size: 12px;
}

.center{
  font-size: 12px;
}

.right{
  font-size: 12px;
}


#mute{
  width: 50px;
  height: 50px;
  margin-left: 3%;
  float: left;
}

#video{
  width: 50px;
  height: 50px;
  margin-left: 1%;
  float: left;
}

#mute_icon{
  margin-top: 5px;
  width: 50%;
  height: 50%;
}

#video_icon{
  margin-top: 5px;
  width: 50%;
  height: 50%;
}

#end{
  width: 10%;
  height: 55px;
  background: red;
  line-height:55px;
  float: right;
}

#invite{
  width: 50px;
  height: 50px;
  margin-left: 20%;
  float: left;
}

#screenshare{
  width: 60px;
  height: 50px;
  margin-left: 1%;
  float: left;
}

#brainstorming{
  width: 60px;
  height: 50px;
  margin-left: 1%;
  float: left;
}

#Collaborative{
  width: 50px;
  height: 50px;
  margin-left: 1%;
  float: left;
}

#icon{
  margin-top: 5px;
  width: 50%;
  height: 50%;
}

#icon1{
  margin-top: 5px;
  width: 45%;
  height: 50%;
}

#icon2{
  margin-top: 5px;
  width: 55%;
  height: 55%;
}

#icon3{
  margin-top: 5px;
  width: 40%;
  height: 40%;
}

#chat_menu{
  width: 100%;
  height: 55px;
  background-color: #535353;
  letter-spacing: 1px;
  float:right;
}

#button{
  margin-left: 9%;
  margin-top: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #91d524 transparent transparent transparent;
  float:left;
}

#meet_name{
  font-size: 15px;
  line-height:1%;
  margin-left: 9%;
  margin-top: 12%;
  float:left;
}

#chat_input{
  width: 16.7%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
}

#input{
  width: 75%;
  height: 75px;
  float: left;

}

#pause{
  width: 50px;
  height: 50px;
  margin-left: 8%;
  float: left;
}

#draw{
  width: 50px;
  height: 50px;
  margin-left: 1%;
  float: left;
}

.sent {
  float: right;
	-moz-box-shadow: 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow: 0px 1px 0px 0px #a4e271;
	box-shadow: 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #91d524), color-stop(1, #82bd22));
	background:-moz-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:-webkit-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:-o-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:-ms-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:linear-gradient(to bottom, #91d524 5%, #82bd22 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#91d524', endColorstr='#82bd22',GradientType=0);
	background-color:#91d524;
	border:1px solid #74b807;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:27px 3.2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

#chatbox{
  margin-top: 55px;
  width: 100%;
  height: 410px;
  background-color: #6e3667;
}

#meet_main{
  width: 80%;
  height: 485px;
  font-size: 12px;
  background-color: #1a0315;
}

#screen_detail {
  width: 20%;
  height: 45px;
  margin-left: 40%;
  margin-top: 1%;
	position: relative;
	background: #91d524;
}

#screen_detail:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(145, 213, 36, 0);
	border-bottom-color: #91d524;
	border-width: 5px;
	margin-left: -50px;
}