
#feature{
    width: 80%;
    height: 60px;
    background-color: #535353;
    letter-spacing: 1px;
}


#number:hover{
    background-color: #424242;
}

#audio-on:hover {
    background-color: #424242;
}

#video-on:hover {
    background-color: #424242;
}

#invite:hover {
    background-color: #424242;
}

#brainstorming:hover {
    background-color: #424242;
}

#collaborative:hover {
    background-color: #424242;
}

#end:hover {
    background-color: ff7478;
}

#fullscreen:hover {
    background-color: #424242;
}

#meet_chat{
  width: 20%;
  height: 540px; 
  background-color: #6e3667;
  float: right;

}


#audio-off{
  background-image: url('../img/mute.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 65px;
  height: 58px;
  margin-left: 2%;
  float: left;
  color: white;
  font-size: 11px;
  border: none;
}


#audio-on{
  background-image: url('../img/audio.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 65px;
  height: 58px;
  margin-left: 2%;
  float: left;
  color: white;
  font-size: 11px;
  border: none;
}

#video-on{
  background-image: url('../img/video.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 65px;
  height: 58px;
  margin-left: 1%;
  float: left;
  color: white;
  font-size: 11px;
  border: none;
}

#video-off{
  background-image: url('../img/video-off.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 65px;
  height: 58px;
  margin-left: 1%;
  float: left;
  color: white;
  font-size: 11px;
  border: none;
}

#invite{
  background-image: url('../img/add-user.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 58px;
  height: 58px;
  margin-left: 18%;
  float: left;
  color: white;
  font-size: 11px;
  border: none;
}

#number{
  background-image: url('../img/people.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 65px;
  height: 58px;
  margin-left: 1%;
  color: white;
  font-size: 11px;
  border: none;
  float: left;
}

#brainstorming{
  background-image: url('../img/brain.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 65px;
  height: 58px;
  margin-left: 1%;
  color: white;
  font-size: 11px;
  border: none;
  float: left;
}

#collaborative{
  background-image: url('../img/edit.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 58px;
  height: 58px;
  margin-left: 1%;
  color: white;
  font-size: 11px;
  border: none;
  float: left;
}

#fullscreen{
  background-image: url('../img/people.png');
  background-color: #535353;
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-position: center 20%;
  text-align: center;
  line-height: 750%;
  width: 58px;
  height: 58px;
  margin-left: 1%;
  color: white;
  font-size: 11px;
  border: none;
  float: right;
}

#end{
  width: 10%;
  height: 60px;
  background: red;
  line-height:55px;
  float: right;
  border: none;
}

#chat_menu{
  width: 100%;
  height: 55px;
  background-color: #535353;
  letter-spacing: 1px;
  float:right;
}

#button{
  margin-left: 9%;
  margin-top: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #91d524 transparent transparent transparent;
  float:left;
}

#meet_name{
  font-size: 15px;
  line-height:1%;
  margin-left: 9%;
  margin-top: 12%;
  float:left;
}

#meet_chat_input{
  width: 16.7%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
}

#meet_input{
  width: 75%;
  height: 75px;
  float: left;

}

#pause{
  background-image: url('../img/pause-button.png');
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-color: #91d524;
  background-position: center 20%;
  text-align: center;
  line-height: 590%;
  width: 45px;
  height: 45px;
  margin-left: 8%;
  color: white;
  font-size: 11px;
  float: left;
  border: none;
}

#pen{
  background-image: url('../img/pen.png');
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-color: #91d524;
  background-position: center 20%;
  text-align: center;
  line-height: 590%;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 11px;
  float: left;
  border: none;
}

#download{
  background-image: url('../img/download.png');
  background-size: 50% 50%;
  background-repeat:no-repeat;
  background-color: #91d524;
  background-position: center 20%;
  text-align: center;
  line-height: 590%;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 11px;
  float: left;
  border: none;
}



#draw{
  width: 50px;
  height: 50px;
  margin-left: 1%;
  float: left;
}

.sent {
  float: right;
	-moz-box-shadow: 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow: 0px 1px 0px 0px #a4e271;
	box-shadow: 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #91d524), color-stop(1, #82bd22));
	background:-moz-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:-webkit-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:-o-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:-ms-linear-gradient(top, #91d524 5%, #82bd22 100%);
	background:linear-gradient(to bottom, #91d524 5%, #82bd22 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#91d524', endColorstr='#82bd22',GradientType=0);
	background-color:#91d524;
	border:1px solid #74b807;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:27px 3.2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

#chatbox{
  margin-top: 55px;
  width: 100%;
  height: 410px;
  background-color: #6e3667;
}

#meet_main{
  width: 80%;
  height: 480px;
  margin-top: -1%;
  font-size: 12px;
  background-color: #1a0315;
}

#invite_detail {
  width: 35%;
  height: 45px;
  margin-left: 35%;
  margin-top: 1%;
	position: relative;
	background: #91d524;
}

#invite_detail:after {
	bottom: 100%;
	left: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(145, 213, 36, 0);
	border-bottom-color: #91d524;
	border-width: 5px;
	margin-left: -50px;
}

#number_sent{
  	margin-top: 3%;
    margin-left: 1%;
}

#me_sent{
  	margin-top: 2%;
    margin-right: 1%;
}

#meet_text{
  color: black;
  text-align: center;
  line-height:280% ;
  font-size: 11px;
}

#meet_upload{
  position:absolute;
  bottom:13%;
  width: 16.5%;
  height: 30px;
}

#uservideo{
  width: 500px;
  height: 150px;
  margin-top: 10%;
  margin-left: 5%;
  float: left;
}

#meetpage{
  margin-top: 3%;
  margin-left: 5%;
  line-height: 250%;
  float: left;
}

#pagetext{
  BORDER-TOP-STYLE: none;
  BORDER-RIGHT-STYLE: none;
  BORDER-LEFT-STYLE: none;
  BORDER-BOTTOM-STYLE: none;
  BACKGROUND-COLOR: #91d524;
  width: 80%;
  height: 15px;
  margin-top: 4.5%;
  float: left;
}